    <h1 class="text-center">Web Projects</h1>
    <h6 class="text-center text-muted">Click the images to go to the description page</h6>
<nav id="projectList" class="bd-content">
    <div class="row p-3">
        <div class="col-sm">
            <h3>Rush - HTML/CSS</h2>
        <a href="/web/Rush" class="websiteLink" id="rushLink"><img class="img-thumbnail" src="img/RushSite.png" alt="RushSite"></a>
        </div>
        <div class="col-sm">
            <h3>SleepEZ - Node.JS</h2>
            <a href="/web/Sleep" class="websiteLink" id="sleepLink"><img class="img-thumbnail" src="img/SleepEZ.png" alt="SleepEZSite"></a>
        </div>
    </ul>
</nav>