    <h1>Web Projects</h1>
<nav id="projectList" class="bd-content">
    <div class="row p-3">
        <div class="col-sm">
            <h2>Rush - HTML/CSS</h2>
        <a href="/web/Rush" class="websiteLink" id="rushLink"><img class="img-thumbnail" src="img/RushSite.png" alt="RushSite"></a>
        </div>
        <div class="col-sm">
            <h2>SleepEZ - Node.JS</h2>
            <a href="/web/Sleep" class="websiteLink" id="sleepLink"><img class="img-thumbnail" src="img/SleepEZ.png" alt="SleepEZSite"></a>
        </div>
    </ul>
</nav>