<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167417731-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167417731-1');
</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Christopher Kelly</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="d-flex flex-column h-100">
    <header>
        <nav id="mainNavigation" class="navbar navbar-expand-md navbar-dark bg-dark">
            <a href="/" class="navbar-brand">Christopher Kelly</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" style>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/web">Websites</a></li>

                    <li class="nav-item"><a class="nav-link" href="/apps">Apps</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutMe">About Me</a></li>
                    <li class="nav-item"><a class="nav-link" href="/links">Links</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container-fluid flex-shrink-0 lead">
        <div class="row p-3">
            <div class="col-sm-8 col-md-8">

                {{{body}}}
            </div>
            
            <aside class="col-sm col-md mt-3">
                <h2 class="d-flex justify-content-between align-items-center mb-3">Contact Info</h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex font-weight-bold">Christopher Kelly</li>
                        <li class="list-group-item d-flex"><i class="pr-2 fas fa-phone-square"></i> 905-995-1105</li>
                        <li class="list-group-item d-flex"><i class="pr-2 fas fa-at"></i> <a href="mailto: ckelly.tor@gmail.com"
                                class="noDisplayLink">ckelly.tor@gmail.com</a></li>
                        <li class="list-group-item d-flex"><i class="pr-2 fas fa-file-pdf"></i> <a href="files/ChristopherKelly_Resume.pdf" target="none"
                                class="noDisplayLink"> Resume</a>
                        </li>
                    </ul>
            </aside>
        </div>
    </main>

    <footer class="footer mt-auto py-3 text-center bg-dark text-light">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/ckellytor" target="none"><i class="fab fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/ckelly2112" target="none"><i class="fab fa-github"></i></a></li>
            </ul>
                <h6>Created by <a href="/">Christopher Kelly</a></h6>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>