<h1 class="text-center">My Apps</h1>
<h6 class="text-center text-muted">Click the images to go to the description page</h6>

<nav id="projectList" class="bd-content">
    <div class="row p-3">
        <div class="col-sm">
            <h3 class="text-center">Eat Me - Ionic</h3>
        <a href="/apps/eatme"><img class="img-thumbnail" src="img/eatMe.png" alt="EatMe Mobile App"></a>
        </div>
        <div class="col-sm">
            <h3 class="text-center">More to come!</h3>
        </div>
    </div>
</nav>