<h1><a href="/apps" class="text-dark small"><i class="fas fa-arrow-left"></i></a> Eat Me</h1>
<br>
    <a href="/apps/eatMeSite" target="none" class="btn btn-primary">Go To Site</a>
<br><br>

<p>
    Here is my first major project using Ionic.
    <br>
    Ionic is an amazing tool that allows you to build cross-platform native mobile apps using Angular.
    <br><br>
    The app itself is a very rough version of an app I hope to build one day. This version has a few issues, and it isn't exactly pretty, but it gives you an idea of 
    what an Ionic App using local storage and an opensource API can do.
    <br>
    Unlike most of my apps, I am not hosting this on github. If you have any questions about how to build an app like this let me know!
</p>