<h1><a href="/apps" class="text-dark small"><i class="fas fa-arrow-left"></i></a> Simple Check List</h1>
<br>
    <a href="https://drive.google.com/file/d/1Eva6InCNDkJK6nEWisJQz6CDU9ehRO9B/view?usp=sharing" target="none" class="btn btn-primary">DOWNLOAD APP</a>
<br><br>

<p>
    This is just a simple checklist app I created.
    <br>
    The app was created out of necessity for a simple checklist to motivate me to hit a fitness goal every day in addition to my normal workout routine.
    <br><br>
    I created this app in a few hours, and does not do a lot of error checking.
    <br>
    That being said, if I decide to host this app on the Play Store, I already have quite a few improvements planned!
    <br>
    If you would like to send feedback or like to see this app in a more working state feel free to reach out and let me know!
</p>