<main>
    <h1 class="text-center">About Me</h1>
    <div>
      <p>
            Gradutated with Honours at Seneca College for Computer Programming. I have spent the majority of my career in technical/customer support and I am
            looking to start a new career in Computer Programming and Development.
        </p>
    </div>
</main>