<div class="container">
    <h1 class="text-center">Links</h1>

    <nav class="container" id="linkNav">
            <ul class="list-group mb-3">
                <li class="list-group-item"><a href="https://www.linkedin.com/in/ckellytor" target="none" class="list-group-item" ><i class="fab fa-linkedin"></i> - LinkedIn </a></li>
                <li class="list-group-item"><a href="https://github.com/ckelly2112" target="none" class="list-group-item"><i class="fab fa-github"></i> - GitHub </a></li>
                <li class="list-group-item"><a href="files/ChristopherKelly_Resume.pdf" target="none" class="list-group-item"><i class="fas fa-file-pdf"></i> - My Resume </a></li>
            </ul>
    </nav>
</div>